Ignite/Web References/UsersManager/UsersManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://thesofttribe.com/platform/slegder/services" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://thesofttribe.com/platform/slegder/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This service handles all operations associated with users: creation, update, disabling, deletion, selection</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://thesofttribe.com/platform/slegder/services">
      <s:import namespace="http://thesofttribe.com/platform/sledger/UserDataSet.xsd" />
      <s:import namespace="http://thesofttribe.com/platform/sledger/SysParameterDataSet.xsd" />
      <s:import namespace="http://thesofttribe.com/platform/sledger/UserGroupOperationDataSet.xsd" />
      <s:import namespace="http://thesofttribe.com/platform/sledger/OperationDataSet.xsd" />
      <s:import namespace="http://thesofttribe.com/platform/sledger/SecurityQuestionDataSet.xsd" />
      <s:import schemaLocation="http://localhost:40869/WS/UsersManager.asmx?schema=UserDataSet" namespace="http://thesofttribe.com/platform/sledger/UserDataSet.xsd" />
      <s:import schemaLocation="http://localhost:40869/WS/UsersManager.asmx?schema=SecurityQuestionDataSet" namespace="http://thesofttribe.com/platform/sledger/SecurityQuestionDataSet.xsd" />
      <s:import schemaLocation="http://localhost:40869/WS/UsersManager.asmx?schema=SysParameterDataSet" namespace="http://thesofttribe.com/platform/sledger/SysParameterDataSet.xsd" />
      <s:import schemaLocation="http://localhost:40869/WS/UsersManager.asmx?schema=OperationDataSet" namespace="http://thesofttribe.com/platform/sledger/OperationDataSet.xsd" />
      <s:import schemaLocation="http://localhost:40869/WS/UsersManager.asmx?schema=UserGroupOperationDataSet" namespace="http://thesofttribe.com/platform/sledger/UserGroupOperationDataSet.xsd" />
      <s:element name="GetUserById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://thesofttribe.com/platform/sledger/UserDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUserGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orgId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUserGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUserGroupsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://thesofttribe.com/platform/sledger/SysParameterDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserGroupsOperations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orgId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserGroupsOperationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserGroupsOperationsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://thesofttribe.com/platform/sledger/UserGroupOperationDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://thesofttribe.com/platform/sledger/UserDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="orgId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sysParameter">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://thesofttribe.com/platform/sledger/SysParameterDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="rights" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="orgId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUserGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserGroupResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActiveUserGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orgId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActiveUserGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActiveUserGroupsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://thesofttribe.com/platform/sledger/SysParameterDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllOperations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllOperationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllOperationsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://thesofttribe.com/platform/sledger/OperationDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllSecurityQuestions">
        <s:complexType />
      </s:element>
      <s:element name="GetAllSecurityQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllSecurityQuestionsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://thesofttribe.com/platform/sledger/SecurityQuestionDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersByOrg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orgId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersByOrgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersByOrgResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://thesofttribe.com/platform/sledger/UserDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sysParameter">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://thesofttribe.com/platform/sledger/SysParameterDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="rights" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserGroupResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://thesofttribe.com/platform/sledger/UserDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserWihoutPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="logon" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userGroupId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserWihoutPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserWihoutPasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserPasswordResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateUserSecurity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="securityQuestionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="securityAnswer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserSecurityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserSecurityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAuthorizedOperations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userGroupId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthorizedOperationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthorizedOperationsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://thesofttribe.com/platform/sledger/OperationDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://thesofttribe.com/platform/sledger/UserDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="GetUserByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUserGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUserGroups" />
  </wsdl:message>
  <wsdl:message name="GetAllUserGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUserGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupsOperationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserGroupsOperations" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupsOperationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserGroupsOperationsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserGroup" />
  </wsdl:message>
  <wsdl:message name="AddUserGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetActiveUserGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetActiveUserGroups" />
  </wsdl:message>
  <wsdl:message name="GetActiveUserGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetActiveUserGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllOperationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllOperations" />
  </wsdl:message>
  <wsdl:message name="GetAllOperationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllOperationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllSecurityQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSecurityQuestions" />
  </wsdl:message>
  <wsdl:message name="GetAllSecurityQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSecurityQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersByOrgSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersByOrg" />
  </wsdl:message>
  <wsdl:message name="GetUsersByOrgSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersByOrgResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserGroupSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserGroup" />
  </wsdl:message>
  <wsdl:message name="UpdateUserGroupSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserWihoutPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserWihoutPassword" />
  </wsdl:message>
  <wsdl:message name="UpdateUserWihoutPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserWihoutPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserPassword" />
  </wsdl:message>
  <wsdl:message name="UpdateUserPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSecuritySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserSecurity" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSecuritySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserSecurityResponse" />
  </wsdl:message>
  <wsdl:message name="DisableUserSoapIn">
    <wsdl:part name="parameters" element="tns:DisableUser" />
  </wsdl:message>
  <wsdl:message name="DisableUserSoapOut">
    <wsdl:part name="parameters" element="tns:DisableUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizedOperationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthorizedOperations" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizedOperationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthorizedOperationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="UsersManagerSoap">
    <wsdl:operation name="GetUserById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method gets the user specified by the userId</wsdl:documentation>
      <wsdl:input message="tns:GetUserByIdSoapIn" />
      <wsdl:output message="tns:GetUserByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserGroups">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method gets all the user groups in the system</wsdl:documentation>
      <wsdl:input message="tns:GetAllUserGroupsSoapIn" />
      <wsdl:output message="tns:GetAllUserGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupsOperations">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method gets the user groups - operations in the system</wsdl:documentation>
      <wsdl:input message="tns:GetUserGroupsOperationsSoapIn" />
      <wsdl:output message="tns:GetUserGroupsOperationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a new user</wsdl:documentation>
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a user group along with its rights into the database</wsdl:documentation>
      <wsdl:input message="tns:AddUserGroupSoapIn" />
      <wsdl:output message="tns:AddUserGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method attempst to chnage the old password to the new for the specified user</wsdl:documentation>
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveUserGroups">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method gets the active user groups in the system</wsdl:documentation>
      <wsdl:input message="tns:GetActiveUserGroupsSoapIn" />
      <wsdl:output message="tns:GetActiveUserGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOperations">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method gets all the operations allowed in the system</wsdl:documentation>
      <wsdl:input message="tns:GetAllOperationsSoapIn" />
      <wsdl:output message="tns:GetAllOperationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSecurityQuestions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves data for the Security Questions asked of the user for password resetting</wsdl:documentation>
      <wsdl:input message="tns:GetAllSecurityQuestionsSoapIn" />
      <wsdl:output message="tns:GetAllSecurityQuestionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByOrg">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method gets all user known for to the system a given orgainsation </wsdl:documentation>
      <wsdl:input message="tns:GetUsersByOrgSoapIn" />
      <wsdl:output message="tns:GetUsersByOrgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates the specified user group and saves it in the database</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserGroupSoapIn" />
      <wsdl:output message="tns:UpdateUserGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates the specified user group and saves it in the database</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserWihoutPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method updates the information of the specified user as provided</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserWihoutPasswordSoapIn" />
      <wsdl:output message="tns:UpdateUserWihoutPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method updates the password of the specified user as provided</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserPasswordSoapIn" />
      <wsdl:output message="tns:UpdateUserPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserSecurity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method attempts to set the status of the specified user. The password as well as the security question and answer and user status are set</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserSecuritySoapIn" />
      <wsdl:output message="tns:UpdateUserSecuritySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method disables the user from the system in the system.  User is marked as inactive</wsdl:documentation>
      <wsdl:input message="tns:DisableUserSoapIn" />
      <wsdl:output message="tns:DisableUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedOperations">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method gets all the authorised operations allowed for the specified user group</wsdl:documentation>
      <wsdl:input message="tns:GetAuthorizedOperationsSoapIn" />
      <wsdl:output message="tns:GetAuthorizedOperationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method gets all user known to the system</wsdl:documentation>
      <wsdl:input message="tns:GetUsersSoapIn" />
      <wsdl:output message="tns:GetUsersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsersManagerSoap" type="tns:UsersManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserGroups">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetAllUserGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupsOperations">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetUserGroupsOperations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserGroup">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/AddUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveUserGroups">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetActiveUserGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOperations">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetAllOperations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSecurityQuestions">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetAllSecurityQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByOrg">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetUsersByOrg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserGroup">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/UpdateUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserWihoutPassword">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/UpdateUserWihoutPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPassword">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/UpdateUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserSecurity">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/UpdateUserSecurity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/DisableUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedOperations">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetAuthorizedOperations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsersManagerSoap12" type="tns:UsersManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserById">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetUserById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserGroups">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetAllUserGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupsOperations">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetUserGroupsOperations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserGroup">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/AddUserGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveUserGroups">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetActiveUserGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOperations">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetAllOperations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSecurityQuestions">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetAllSecurityQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByOrg">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetUsersByOrg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserGroup">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/UpdateUserGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserWihoutPassword">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/UpdateUserWihoutPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPassword">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/UpdateUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserSecurity">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/UpdateUserSecurity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/DisableUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedOperations">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetAuthorizedOperations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://thesofttribe.com/platform/slegder/services/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsersManager">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This service handles all operations associated with users: creation, update, disabling, deletion, selection</wsdl:documentation>
    <wsdl:port name="UsersManagerSoap" binding="tns:UsersManagerSoap">
      <soap:address location="http://localhost:40869/WS/UsersManager.asmx" />
    </wsdl:port>
    <wsdl:port name="UsersManagerSoap12" binding="tns:UsersManagerSoap12">
      <soap12:address location="http://localhost:40869/WS/UsersManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>